/* body css */
body {
    background-color: #FBF9F9;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat-black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    
}

.curious-blue {
    color: #2E94E4 !important;
}

/*title*/
#title {
    background-color: #2E94E4;
    color: #FBF9F9;
}



.gym-jumbo {
    padding: 3% 15%;
}

.gym-jumbo-txt {
    margin: auto;
    width: 100%;
   
    padding: 10px;
}

/* Jumbo image  */
.jumbo-img {
    width: 60%;
    transform: rotate(5deg);
}
/* NAVBAR CSS */
.navbar {
    background-color: #FBF9F9;
    color: #2E94E4;
}

.nav-link:hover {
    color: #335AC1;
}

.navbar-brand {
    font-family: 'Lora', serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
    /* color: #2E94E4; */
}

.nav-link {
    color: black!important;
    font-size: 1.2rem;
    font-family: 'Montserrat-light';
}

/* JUMBOTRON */
.jumbotron {
    background-color: #91A0C8;
    color: #335AC1;
    background-image: url(../img/white-waves/white-waves.png);
}

.navbar-brand {
    color: #FBF9F9;
}

.navbar-toggler-icon {
    color: #FBF9F9;
}

/*DOWNLOAD BUTTON */
.download-button {
    margin: 5% 3% 5% 0;
}

.cornflower-blue {
    background-color: #8CBBE0;
    color: #FBF9F9;
    border: 2px solid #8CBBE0;
}

.cornflower-blue:hover {
    background-color: #FBF9F9;
    color: #7991D1;
    border: 2px solid #FBF9F9;
}

.chetwoode-purple {
    border: 2px solid #FBF9F9;
    color: #FBF9F9;
}

.chetwoode-purple:hover {
    border: 2px solid #FBF9F9;
    background-color: #FBF9F9;
    color: #7991D1;
}

/* button {
    outline: none !important;
}
  */
  /* :focus:not(a){
    outline: 2px solid #335AC1 !important;
    box-shadow: none !important;
} */

